<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Scroll Harder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <h1>🕵️‍♂️ Scroll Harder 🕵️‍♂️</h1>
    </header>

    <main>
        <p style="text-align: center; font-weight: 600; font-size: 1.2rem; margin-bottom: 15px;">
            Scroll down to reveal QR codes. One of them contains the flag. Can you find it?
        </p>

        <div id="qr-container"></div>
        <div id="loader">Scroll down to load more QR codes...</div>
    </main>

    <footer>
        &copy; Grid Iron VIII - Scroll Harder - Created by Liam Halpin
    </footer>

    <script src="{{ url_for('static', filename='script.js')}}"></script>

</body>
</html>